html,body
body 
{
    padding:0px;
    margin:0px;
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
}
h1
{
	text-align: center;
	color: teal;
	text-decoration: wavy;
}
p
{
	border: bisque;
	text-align: left;
	color: teal;
	font-style: oblique;
}
.link
{
	colro:teal;
}
img
{
	height: 100%;
	width: 100%;
}